extends layout

block extraHeadElements
    link(rel="stylesheet", type="text/css", href="/stylesheets/index.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/blog.css")

block mainContent
    article
        a(href="/blog/create") Create New Blog
    each blog in blogs
        article
            h2 #{blog.title} 
            div(class="dateAndAuthor") 
                p(class="left") #{blog.author} 
                p(class="right") #{blog.date.toString().slice(0, 15)} 
            div(class="content") 
                p #{blog.content}
            a(href=blog.url) Read
